<!DOCTYPE html>
<html>
  <head>
    <% include ./templates/head.ejs %>
  </head>
  <body>
    <% include ./templates/nav.ejs %>
    <% include ./templates/footer.ejs %>

    <div class="container">
      <div class="main-content-features-1">

        <div class="main-content-features-1-header">
          <h1>Why us?</h1>
          <p>A couple reasons why we're better than anyone else</p>
        </div>

        <hr />

        <div class="row main-content-features-1-row">
          <div class="col-lg">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <h3>Filtering</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque consequat felis a rutrum. Aenean ac faucibus elit, ut iaculis.</p>
          </div>

          <div class="col-lg">
            <i class="fa fa-fighter-jet" aria-hidden="true"></i>
            <h3>Speedy</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at cursus nunc. Nunc a leo dapibus, placerat nibh at, ultrices.</p>
          </div>

          <div class="col-lg">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <h3>Real-time</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum malesuada dui. Sed lobortis congue finibus. Nullam eget urna a.</p>
          </div>
        </div>
        <div class="row main-content-features-1-row">
          <div class="col-lg">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h3>Always Online</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque consequat felis a rutrum. Aenean ac faucibus elit, ut iaculis.</p>
          </div>

          <div class="col-lg">
            <i class="fa fa-users" aria-hidden="true"></i>
            <h3>250+ Troopers every day</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at cursus nunc. Nunc a leo dapibus, placerat nibh at, ultrices.</p>
          </div>

          <div class="col-lg">
            <i class="fa fa-list" aria-hidden="true"></i>
            <h3>Forums</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum malesuada dui. Sed lobortis congue finibus. Nullam eget urna a.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
