<div class="m-header-1">
  <nav class="navbar navbar-expand-lg <% if(title == 'Home') { %> navbar-dark bg-dark <% } else { %> navbar-light bg-light <% } %>">
    <div class="container">
      <a class="navbar-brand" href="/">SWLFG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <% console.log(locals.current_path) %>
          <li class="nav-item <% if(locals.current_path == '/home') {%> active <% } %>">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item <% if(locals.current_path == '/find/partner') { %> active <% } %>">
            <a class="nav-link" href="/find/partner">Find Gamers</a>
          </li>
          <li class="nav-item <% if(locals.current_path == '/about') {%> active <% } %>">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <% if(!user) { %>
          <li class="nav-item button">
            <a class="nav-link" href="/auth/google">Login</a>
          </li>
          <li class="nav-item button">
            <a class="nav-link" href="/register/step1">Create an Account</a>
          </li>
          <% } else { %>
            <li class="nav-item button">
              <a class="nav-link" href="/account"><%= user.displayName %> <i class="fa fa-cog" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item button">
              <a class="nav-link" href="/logout">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <% if(title == 'Home') {%>
  <div class="livewire-jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1>Welcome</h1>
          <p>SWLFG is a base to find other gamers, like yourself, to play Star Wars with. We have, over the years, fine tuned our algorithms to make sure
          you can find the exact gamer you want to play with - we''ve currently matched hundreds of gamers together and even seen teams rise to go on to win thousands.</p>

          <p>And its all free, most importantly. Just use the box to the right to sign up, and get matching.</p>
        </div>

        <div class="col-sm">
          <div class="main-homepage-register">
            <h2>Easy Registration</h2>
            <p>Simply link your google account to the SWLFG website and you are good to go, no forms, passwords, or anything.</p>
           <button class="btn btn-danger btn-lg btn-block" onclick="window.location.href='/auth/google'">
             <div class="container">
               <div class="row">
                 <div class="col-md">
                   <i class="fa fa-google-plus-official" aria-hidden="true"></i> Continue with Google
                 </div>
               </div>
             </div>
           </button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
