<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/jquery.paginate.css">
  </head>
  <body>
    <% include ../templates/nav.ejs %>

    <div class="container">
      <div class="main-content-features-1">
        <div class="main-content-features-1-header no-align">
          <div class="row">
            <div class="col-md">
              <h1>Looking for Partners</h1>
              <p>Looking for a partner to form your next dynamic duo, or maybe you're just a casual player that needs some help!</p>
            </div>

            <div class="col-md main-content-buttons-col">
              <div><button class="btn btn-info" id="filter" type="submit">Filter</button></div>
              <div><button class="btn btn-success" id="post" type="submit">Post</button></div>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li class="nav-item <% if(title == 'Find Gamers') {%> active <% } %>">
              <a class="nav-link" href="/find/partner">Partner</a>
            </li>
            <li class="nav-item <% if(title == 'Find Team') {%> active <% } %>">
              <a class="nav-link" href="/find/team">Team</a>
            </li>
          </ul>
        </div>
        <div class="main-content-documents">
          <% if(documents) { %>
            <% for(var i = 0; i < documents.length ; i++) {
              var doc = documents[(documents.length-1)-i];
              %>
              <div class="doc-table">
                <div class="doc-header">
                  <div class="row">
                    <div class="col-md">
                      <h4>
                        <img id='platform' value="<%= doc.platform %>" src="//logo.clearbit.com/<%= doc.platform %>"><%= doc.author %>
                        <small id='experience'><%= doc.experience %></small>
                      </h4>
                    </div>
                    <div class="col-md">
                      <p class="text-muted-grey text-right"><%= doc.created_at %></p>
                    </div>
                  </div>

                  <p><%= doc.language %></p>
                </div>

                <div class="row doc-content">
                  <div class="col-md">
                    <h5 id='activity'><%= doc.activity %></h5>
                    <p><%= doc.notes %></p>
                  </div>
                  <div class="col-md text-right">
                    <h5>Level</h5>
                    <p><%= doc.level %></p>
                  </div>
                </div>
              </div>
            <% } %>
          <% } else { %>
            <p>No current posts at this time.</p>
          <% } %>
        </div>

      </div>
    </div>
    <% include ../templates/footer.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="application/javascript" src="/javascripts/functions.js"></script>
    <script src="/javascripts/jquery.paginate.js"></script>
    <script type="application/javascript">

    $('.main-content-documents').paginate({
      scope: $('.doc-table'),
      perPage: 15
    });

    var socket = io.connect('http://localhost:4000');

    socket.emit('joinChat');
    socket.on("joined", function() {
      console.log("joined partner channel")
    })

    socket.on('new_lfg', function(doc) {
      /*
      var n_doc = {
        author: c,
        platform: b,
        experience: d.experience,
        activity: a,
        created_at: date.toString(),
        language: d.language,
        notes: d.notes == "" ? "No notes have been left on this post." : d.notes,
        level: level
      }
      */

      var obj = getFilterArrays()
      var platforms = obj.platforms;
      var experience = obj.experience;
      var activities = obj.activities;

      var strVar="";
      strVar += "<div id='test' class=\"doc-table\">";
      strVar += "                <div class=\"doc-header\">";
      strVar += "                  <div class=\"row\">";
      strVar += "                    <div class=\"col-md\">";
      strVar += "                      <h4>";
      strVar += "                        <img id='platform' value='"+doc.platform+"' src=\"\/\/logo.clearbit.com\/"+doc.platform+"\">"+doc.author+"";
      strVar += "                        <small id='experience'>"+doc.experience+"<\/small>";
      strVar += "                      <\/h4>";
      strVar += "                    <\/div>";
      strVar += "                    <div class=\"col-md\">";
      strVar += "                      <p class=\"text-muted-grey text-right\">"+doc.created_at+"<\/p>";
      strVar += "                    <\/div>";
      strVar += "                  <\/div>";
      strVar += "";
      strVar += "                  <p>"+doc.language+"<\/p>";
      strVar += "                <\/div>";
      strVar += "";
      strVar += "                <div class=\"row doc-content\">";
      strVar += "                  <div class=\"col-md\">";
      strVar += "                    <h5 id='activity'>"+doc.activity+"<\/h5>";
      strVar += "                    <p>"+doc.notes+"<\/p>";
      strVar += "                  <\/div>";
      strVar += "                  <div class=\"col-md text-right\">";
      strVar += "                    <h5>Level<\/h5>";
      strVar += "                    <p>"+doc.level+"<\/p>";
      strVar += "                  <\/div>";
      strVar += "                <\/div>";
      strVar += "              <\/div>";

      if(inArray(platforms, doc.platform) && inArray(experience, doc.experience) && inArray(activities, doc.activity)) {
        var newElement = $(strVar).prependTo('.main-content-documents')
      } else {
        var newElement = $(strVar).prependTo('.main-content-documents')
        newElement.hide()
      }
    })

    var filters = {
      psn:true,
      xbox:true,
      origin:true,
      ga:true,
      bs:true,
      sa:true,
      hvv:true,
      casual:true,
      competitive:true
    }

    $('#filter').click(function() {
      var strVar="";
      strVar += "";
      strVar += "<div class=\"container-fluid\">";
      strVar += "  <div class=\"row\">";
      strVar += "    <div class='col-md filter_posts'>";
      strVar += "      <label class='swal-label'>PLATFORM<\/label>";
      strVar += "      <div class=\"row\">";
      strVar += "        <div class=\"col-sm main_checkbox\">";
      strVar += "          <div>";
      strVar += "            <img src=\"http:\/\/logo.clearbit.com\/playstation.com\" \/>";
      strVar += "          <\/div>";
      strVar += "          <label class=\"switch\">";
      strVar += "            <input " + (filters.psn == true ? 'checked' : '') + " id='psn' type=\"checkbox\">";
      strVar += "            <span class=\"slider round\"><\/span>";
      strVar += "          <\/label>";
      strVar += "        <\/div>";
      strVar += "";
      strVar += "          <div class=\"col-sm main_checkbox\">";
      strVar += "          <div>";
      strVar += "            <img src=\"http:\/\/logo.clearbit.com\/xbox.com\" \/>";
      strVar += "          <\/div>";
      strVar += "          <label class=\"switch\">";
      strVar += "            <input " + (filters.xbox == true ? 'checked' : '') + " id='xbox' type=\"checkbox\">";
      strVar += "            <span class=\"slider round\"><\/span>";
      strVar += "          <\/label>";
      strVar += "        <\/div>";
      strVar += "";
      strVar += "         <div class=\"col-sm main_checkbox\">";
      strVar += "          <div>";
      strVar += "            <img src=\"http:\/\/logo.clearbit.com\/origin.com\" \/>";
      strVar += "          <\/div>";
      strVar += "          <label class=\"switch\">";
      strVar += "            <input " + (filters.origin == true ? 'checked' : '') + " id='origin' type=\"checkbox\">";
      strVar += "            <span class=\"slider round\"><\/span>";
      strVar += "          <\/label>";
      strVar += "        <\/div>";
      strVar += "      <\/div>";
      strVar += "    <\/div>";
      strVar += "     <div class='col-sm filter_posts'>";
      strVar += "      <label class='swal-label'>ACTIVITY<\/label>";
      strVar += "      <div class=\"row\">";
      strVar += "        <div class=\"col-sm main_checkbox\">";
      strVar += "          <div>";
      strVar += "            Heroes vs Villains";
      strVar += "          <\/div>";
      strVar += "          <label class=\"switch\">";
      strVar += "            <input " + (filters.hvv == true ? 'checked' : '') + " id='hvv' type=\"checkbox\">";
      strVar += "            <span class=\"slider round\"><\/span>";
      strVar += "          <\/label>";
      strVar += "        <\/div>";
      strVar += "";
      strVar += "          <div class=\"col-sm main_checkbox\">";
      strVar += "          <div>";
      strVar += "            Galactic Assault";
      strVar += "          <\/div>";
      strVar += "          <label class=\"switch\">";
      strVar += "            <input " + (filters.ga == true ? 'checked' : '') + " id='ga' type=\"checkbox\">";
      strVar += "            <span class=\"slider round\"><\/span>";
      strVar += "          <\/label>";
      strVar += "        <\/div>";
      strVar += "        ";
      strVar += "        <div class=\"col-sm main_checkbox\">";
      strVar += "          <div>";
      strVar += "            Blast / Strike";
      strVar += "          <\/div>";
      strVar += "          <label class=\"switch\">";
      strVar += "            <input " + (filters.bs == true ? 'checked' : '') + " id='bs' type=\"checkbox\">";
      strVar += "            <span class=\"slider round\"><\/span>";
      strVar += "          <\/label>";
      strVar += "        <\/div>";
      strVar += "";
      strVar += "         <div class=\"col-sm main_checkbox\">";
      strVar += "          <div>";
      strVar += "            Starfighter Assault";
      strVar += "          <\/div>";
      strVar += "          <label class=\"switch\">";
      strVar += "            <input " + (filters.sa == true ? 'checked' : '') + " id='sa' type=\"checkbox\">";
      strVar += "            <span class=\"slider round\"><\/span>";
      strVar += "          <\/label>";
      strVar += "        <\/div>";
      strVar += "      <\/div>";
      strVar += "    <\/div>";
      strVar += "  <\/div>";

      strVar += "  <div class=\"row\">";
      strVar += "    <div class='col-md filter_posts'>";
      strVar += "      <label class='swal-label'>EXPERIENCE<\/label>";
      strVar += "      <div class=\"row\">";
      strVar += "        <div class=\"col-sm main_checkbox\">";
      strVar += "          <div>";
      strVar += "            Casual"
      strVar += "          <\/div>";
      strVar += "          <label class=\"switch\">";
      strVar += "            <input " + (filters.casual == true ? 'checked' : '') + " id='casual' type=\"checkbox\">";
      strVar += "            <span class=\"slider round\"><\/span>";
      strVar += "          <\/label>";
      strVar += "        <\/div>";
      strVar += "";
      strVar += "        <div class=\"col-sm main_checkbox\">";
      strVar += "          <div>";
      strVar += "            Competitive"
      strVar += "          <\/div>";
      strVar += "          <label class=\"switch\">";
      strVar += "            <input " + (filters.competitive == true ? 'checked' : '') + " id='competitive' type=\"checkbox\">";
      strVar += "            <span class=\"slider round\"><\/span>";
      strVar += "          <\/label>";
      strVar += "        <\/div>";
      strVar += "      <\/div>";
      strVar += "    <\/div>";
      strVar += "    <div class='col-md filter_posts'>";
      strVar += "    <\/div>";
      strVar += "  <\/div>";

      strVar += "<\/div>";

      swal({
        title: 'Filters',
        html: strVar,
        width:'50%',
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText:
          '<i class="fa fa-check" aria-hidden="true"></i>',
        confirmButtonAriaLabel: 'Save',
        cancelButtonText:
          '<i class="fa fa-times" aria-hidden="true"></i>',
        cancelButtonAriaLabel: 'Cancel',
      }).then(function() {
        var psn = isCheckedById("psn")
        var xbox = isCheckedById("xbox")
        var origin = isCheckedById("origin")

        var hvv = isCheckedById("hvv")
        var bs = isCheckedById("bs")
        var ga = isCheckedById("ga")
        var sa = isCheckedById("sa")

        var competitive = isCheckedById("competitive")
        var casual = isCheckedById("casual")

        filters = {
          psn: psn,
          xbox: xbox,
          origin: origin,
          hvv: hvv,
          bs: bs,
          ga: ga,
          sa: sa,
          competitive: competitive,
          casual: casual
        }

        var obj = getFilterArrays()
        var platforms = obj.platforms;
        var experience = obj.experience;
        var activities = obj.activities;

        $(".doc-table").each(function(){
            var platform = $(this).find("#platform").attr("value")
            var expo = $(this).find("#experience").text()
            var activity = $(this).find("#activity").text()
            if(inArray(platforms, platform) && inArray(experience, expo) && inArray(activities, activity)) {
              $(this).show()
            } else {
              $(this).hide()
            }
        });


      })
    })

    $('#post').click(function() {
      swal.setDefaults({
        input: 'text',
        confirmButtonText: 'Confirm &rarr;',
        showCancelButton: true,
        progressSteps: ['1', '2', '3', '4', '5']
      })

      var steps = [
        {
          title: 'Select Client',
          input: 'select',
          inputOptions: {
            'PSN': 'Playstation Network',
            'Xbox': 'Xbox',
            'Origin': 'Origin'
          },
          inputPlaceholder: 'Select client...',
          showCancelButton: true,
          inputValidator: (id) => {
            return new Promise((resolve) => {
              if (id === '') {
                resolve('You need to select your client.')
              } else {
                resolve()
              }
            })
          }
        },
        {
          title: 'Select Experience',
          input: 'select',
          inputOptions: {
            'Competitive': 'Competitive',
            'Casual': 'Casual'
          },
          inputPlaceholder: 'Select experience...',
          showCancelButton: true,
          inputValidator: (id) => {
            return new Promise((resolve) => {
              if (id === '') {
                resolve('You need to select your experience.')
              } else {
                resolve()
              }
            })
          }
        },
        {
          title: 'Select Language',
          input: 'select',
          inputOptions: {
            'English': 'English',
            'French': 'French',
            'Spanish': 'Spanish',
            'German': 'German',
            'Chinese': 'Chinese',
            'Other': 'Other',
          },
          inputPlaceholder: 'Select language...',
          showCancelButton: true,
          inputValidator: (id) => {
            return new Promise((resolve) => {
              if (id === '') {
                resolve('You need to select your language.')
              } else {
                resolve()
              }
            })
          }
        },
        {
          title: 'Select Gamemode',
          input: 'select',
          inputOptions: {
            'GA': 'Galactic Assault',
            'HVV': 'Heroes VS Villains',
            'BS': 'Blast / Strike',
            'SA': 'Starfighter Assault',
          },
          inputPlaceholder: 'Select gamemode...',
          showCancelButton: true,
          inputValidator: (id) => {
            return new Promise((resolve) => {
              if (id === '') {
                resolve('You need to select the gamemode.')
              } else {
                resolve()
              }
            })
          }
        },
        {
          title: 'Notes',
          input: 'textarea',
          inputPlaceholder: 'Any things your partner needs to know?',
          showCancelButton: true
        }
      ]

      swal.queue(steps).then((result) => {
        swal.resetDefaults()
        if (result) {
          var data = result.value;
          var postData = {
            client: data[0],
            experience: data[1],
            language: data[2],
            gamemode: data[3],
            notes: data[4]
          }
          var r = xhrPost("/api/create_post", '<%= token %>', postData, function(err, res) {
            if(!err) {
              if(res.status !== 200) {
                swal(
                  'Oops...',
                  res.response.message,
                  'error'
                )
              } else {
                swal(
                  'Posted',
                  res.response.message,
                  'success'
                )
              }
            } else {
              swal(
                'Oops...',
                'Something went wrong!',
                'error'
              )
            }
          });
        }
      })
    });

    function getFilterArrays() {
      var platforms = [];
      if(filters.psn) {
        platforms.push("playstation.com")
      }

      if(filters.xbox) {
        platforms.push("xbox.com")
      }

      if(filters.origin) {
        platforms.push("origin.com")
      }

      var activities = [];
      if(filters.hvv) {
        activities.push("Heroes vs Villains")
      }

      if(filters.bs) {
        activities.push("Blast / Strike")
      }

      if(filters.sa) {
        activities.push("Starfigher Assault")
      }

      if(filters.ga) {
        activities.push("Galactic Assault")
      }

      var experience = [];

      if(filters.casual) {
        experience.push("Casual")
      }

      if(filters.competitive) {
        experience.push("Competitive")
      }

      return {
        experience: experience,
        platforms: platforms,
        activities: activities
      }
    }
    </script>
  </body>
</html>
